// COLORS
$primary-color: #00F260;
$secondary-color: #0575E6;
// $primary-color: #02aab0;
// $secondary-color: #00cdac;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(41, 45, 46);
// $white-color: #fff;

$dark-grey: #464646;
// $dark-grey: #333333;

$dark-blue-text: #2bd0e6; // For Headings
// $dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
